<section data-ng-controller="HomeController">
	<div class="container-fluid" ng-if="!authentication.user">
        <div class="row jumbotron">
            <div class="text-center">
                <div class="col-lg-10 center-block jumbo-inner" style="float: none;">
                    <span class="main-icon glyphicon glyphicon-tint"></span>
                    <h1>Fuel economy of your vehicle!</h1>
                    <h3>
                        How many miles can your car go with one gallon of fuel in it?
                    </h3>
                    <p><a class="btn btn-primary btn-lg" href="/#!/signin" role="button">Let's find it!</a></p>
                </div>
            </div>
        </div>
    </div>
<!-- Page Content -->
    <div class="container" ng-if="!authentication.user">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">This First Heading
                <span class="text-muted">Will Catch Your Eye</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">The Second Heading
                <span class="text-muted">Is Pretty Cool Too.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">The Third Heading
                <span class="text-muted">Will Seal the Deal.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2015 Aman Dogra </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <div ng-if="authentication.user">
        <div ui-view=""></div>
        <div ui-view="cars"></div>
    </div>
</section>
