<section data-ng-controller="HomeController">
	<div class="container-fluid" ng-if="!authentication.user">
        <div class="row jumbotron">
            <div class="text-center">
                <div class="col-lg-10 center-block jumbo-inner" style="float: none;">
                    <span class="main-icon glyphicon glyphicon-tint"></span>
                    <h1>Fuel economy of your vehicle!</h1>
                    <h5>
                        Lets find out the average relationship between the distance traveled and the amount of fuel consumed by your vehicle.
                    </h5>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Let's do it!</a></p>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="authentication.user">
        <div ui-view=""></div>
        <div ui-view="cars"></div>
    </div>
</section>
