<section data-ng-controller="HomeController">
	<div class="container-fluid" ng-if="!authentication.user">
        <div class="row jumbotron">
            <div class="text-center">
                <div class="col-lg-10 center-block jumbo-inner" style="float: none;">
                    <span class="main-icon glyphicon glyphicon-tint"></span>
                    <h1>Fuel economy of your vehicle!</h1>
                    <p class="jumbo-inner-text">
                        How many miles can your car go with one gallon of fuel in it?
                    </p>
                    <p><a class="btn btn-primary btn-lg" href="/#!/signin" role="button">Let's find it!</a></p>
                </div>
            </div>
        </div>
    </div>
<!-- Page Content -->
<div class="container" ng-if="!authentication.user">
    <h2 class="text-center">Learn more about this</h2>
        <hr class="featurette-divider first">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-responsive pull-right" src="/modules/core/img/dashboard.svg">
            <h3 class="featurette-heading">How it works?
                <span class="text-muted">It's simple</span>
            </h3>
            <p class="lead">Fill the tank of your vehicle to it's limit. Note the fuel amount filled and the reading of odometer in this application. The system will keep it safe for you. Next time when you refill your tank to it's limit, do the same thing again. This time the app will tell you the fuel economy of your car</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-responsive pull-left" src="/modules/core/img/cars.svg">
            <h3 class="featurette-heading">What you need?
                <span class="text-muted">Nothing much.</span>
            </h3>
            <p class="lead">To use this app you only need to register and add your car. You can use any name of your choice to add a car. Once the car is in the system, all the fuel related records could be added to the car. <br/> You can add multiple cars.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-responsive pull-right" src="/modules/core/img/calendar.svg">
            <h3 class="featurette-heading">What is coming?
                <span class="text-muted">Features you'll see in future releases</span>
            </h3>
            <p class="lead">There is a lot which we want to accomplish through this small app. Some of the major features which you should look for in the future releasees are as follows:</p>
            <ul>
                <li>Recording the gas(petrol) pump used. So that you could choose your favorite pump.</li>
                <li>Recording the cost of the fuel.Save that hard earned money</li>
                <li>Comparing the fuel economy of your different vehicles.</li>
            </ul>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted">Copyright (C) 2015  Aman Dogra</p>
										<p class="text-muted">
									    This program is free software: you can redistribute it and/or modify
									    it under the terms of the GNU General Public License as published by
									    the Free Software Foundation, either version 3 of the License, or
									    (at your option) any later version.
										</p>
										<p class="text-muted">
									    This program is distributed in the hope that it will be useful,
									    but WITHOUT ANY WARRANTY; without even the implied warranty of
									    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
									    GNU General Public License for more details.
										</p>
										<p class="text-muted">
									    You should have received a copy of the GNU General Public License
									    along with this program.  If not, see <http://www.gnu.org/licenses/>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <div ng-if="authentication.user">
        <div ui-view=""></div>
        <div ui-view="cars"></div>
    </div>
</section>
