<section data-ng-controller="CarsController" data-ng-init="findOne()">
    <div class="container">
        <div class="page-header">
            <h1>
                <span data-ng-bind="car.name"></span>
                <span data-ng-show="((authentication.user) && (authentication.user._id == car.user._id))">
                    <a class="btn btn-default" href="/#!/cars/{{car._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-default" data-ng-click="remove();">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </span>
            </h1>

        </div>
        <small class="hidden">
            <em class="text-muted">
                Added on
                <span data-ng-bind="car.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="car.user.displayName"></span>
            </em>
        </small>
        <div ui-view="readings"></div>
    </div>
</section>
