<section data-ng-controller="ReadingsController">
    <div ng-if="!!selectedcar" class="container">
        <div class="page-header">
            <h1>New Reading
                <small>{{selectedcar.name}}</small>
            </h1>
        </div>
        <div class="col-md-12">
            <form class="form-horizontal" name="newReadingForm" data-ng-submit="create()" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label for="odoreading">How many miles your car has travelled so far:</label>
                        <div class="input-group">
                            <input id="odoreading" 
                                   name="odoreading"
                                   data-ng-model="odoreading"
                                   class="form-control"
                                   type="number" required placeholder="odometer reading"
                                   ng-class="{ 'has-error': newReadingForm.odoreading.$dirty && newReadingForm.odoreading.$invalid }"/>
                            <div class="input-group-btn">
                                <select id="distanceunit" data-ng-model="distanceunit" name="distanceunit" class="btn btn-default dropdown-toggle">
                                    <option value="mil" selected>Miles</option>
                                    <option value="kms">KiloMeters</option>
                                </select>
                            </div>
                        </div>
                        <p data-ng-show="newReadingForm.odoreading.$invalid && !newReadingForm.odoreading.$pristine"
                           class="text-danger">Odometer reading is required.
                        </p>
                    </div>

                    <div class="form-group">
                        <label for="fuelreading">How much fuel you just filled in your car?</label>
                        <div class="input-group">
                            <input id="fuelreading" name="fuelreading" data-ng-model="fuelreading" type="number" class="form-control" required type="number" placeholder="station pump reading"
                                   ng-class="{ 'has-error': newReadingForm.fuelreading.$dirty && newReadingForm.fuelreading.$invalid }"/>
                            <div class="input-group-btn">
                                <select id="fuelunit" data-ng-model="fuelunit" name="fuelunit" class="btn btn-default dropdown-toggle">
                                    <option value="galn" selected>Gallons</option>
                                    <option value="litr">Litres</option>
                                </select>
                            </div>
                        </div>
                        <p data-ng-show="newReadingForm.fuelreading.$invalid && !newReadingForm.fuelreading.$pristine"
                           class="text-danger">Pump reading is required.
                        </p>

                    </div>
                    <div class="form-group">
                        <input type="submit" data-ng-disabled="newReadingForm.$invalid" class="btn btn-primary">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="!selectedcar">
        No car selected, why don't you <a href="/#!/">select or create one</a>?
    </div>

</section>
