<section data-ng-controller="ReadingsController" data-ng-init="findOne()">
    <div class="container">
        <div class="page-header">
            <h1>Edit Reading
                <small>{{selectedcar.name}}</small>
            </h1>
        </div>
        <div data-ng-if="!!selectedcar" class="col-md-12">
            <form class="form-horizontal" name="editReadingForm" data-ng-submit="update()" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label for="odoreading">How many miles your car has travelled so far:</label>
                        <div class="input-group">
                            <input id="odoreading" name="odoreading" data-ng-model="odoreading" class="form-control" type="number" required value="{{reading.odoreading}}" placeholder="odometer reading"/>
                            <div class="input-group-btn">
                                <select id="distanceunit" data-ng-model="distanceunit" name="distanceunit" class="btn btn-default dropdown-toggle">
                                    <option value="mil" selected>Miles</option>
                                    <option value="kms">KiloMeters</option>
                                </select>
                            </div>
                        </div>
                        <p data-ng-show="editReadingForm.odoreading.$invalid && !editReadingForm.odoreading.$pristine"
                           class="text-danger">Odometer reading is required.
                        </p>

                    </div>
                    <div class="form-group">
                        <label for="fuelreading">How much fuel you just filled in your car?</label>
                        <div class="input-group">
                            <input id="fuelreading" name="fuelreading" data-ng-model="fuelreading" type="number" class="form-control" type="number" value="{{reading.fuelreading}}" required placeholder="station pump reading"/>
                            <div class="input-group-btn">
                                <select id="fuelunit" data-ng-model="fuelunit" name="fuelunit" class="btn btn-default dropdown-toggle">
                                    <option value="galn" selected>Gallons</option>
                                    <option value="litr">Litres</option>
                                </select>
                            </div>
                        </div>
                        <p data-ng-show="editReadingForm.fuelreading.$invalid && !editReadingForm.fuelreading.$pristine"
                           class="text-danger">Pump reading is required.
                        </p>
                    </div>
                    <div class="form-group">
                        <input data-ng-disabled="editReadingForm.$invalid" type="submit" value="Update" class="btn btn-default">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="alert alert-warning text-center" data-ng-if="!selectedcar">
            No car selected, why don't you <a href="/#!/">select or create one</a>?
        </div>
    </div>
</section>
