<section data-ng-controller="ReadingsController" data-ng-init="findByCar()">
    <div class="row well text-center" data-ng-if="latestMileage">
        Latest mileage for this car is <strong class="lead" data-ng-bind="latestMileage"></strong> <span data-ng-bind="latestMileageUnit"></span>
    </div>
    <div class="clearfix">
        <p class="pull-left lead">List of readings of this car</p>
        <a href="/#!/readings/create/" class="pull-right btn btn-primary">Add new reading</a>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Posted on</th>
                    <th>Reading</th>
                    <th>Fuel filled</th>
                    <th>Mileage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="readings.length" data-ng-repeat="reading in readings" >
                    <td>
                        {{$index+1}}
                    </td>
                    <td>
                        <span data-ng-bind="reading.created | date:'medium'"></span>
                    </td>
                    <td>
                        <span data-ng-bind="reading.odoreading"></span>
                    </td>
                    <td>
                        <span data-ng-bind="reading.fuelreading"></span>
                    </td>
                    <td>
                        <span data-ng-bind="reading.mileage"></span>
                    </td>
                    <td>
                        <a data-ng-href="#!/readings/{{reading._id}}">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-warning text-center" data-ng-if="!readings.length">
            No Readings yet, why don't you <a href="/#!/readings/create/">create one</a>?
        </div>
    </div>
</section>
